
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/m_User/_UserLayout.cshtml";
}



<div class="row">
    <div class="col-lg-6 col-lg-offset-4">
        <h3><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search Result</h3>
    </div>

</div>
@{Html.RenderAction("Searchu");}
@{Html.RenderAction("Searchb");}



