
@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/m_User/_UserLayout.cshtml";
}

<h2>UserHome</h2>
<div>
    @Html.ActionLink("Create Blog", "CreateBlog", "m_Blog")
    @Html.ActionLink("Show list", "ShowList", "m_Blog")
</div>

<div class="row">
    <div class="col-md-9" role="main">

    </div>
    <div class="col-md-3" role="complementary">

    </div>
</div>
