
@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/m_User/_UserLayout.cshtml";
}

<h2>UserHome</h2>
<div>
    @Html.ActionLink("Create Blog", "CreateBlog", "m_Blog")
    @Html.ActionLink("Show list", "ShowList", "m_Blog")
</div>
