

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

<div class=" container">
    <div class="row">
        <div class="col-lg-push-2">
            @{
                AjaxOptions aop = new AjaxOptions()
                {
                    UpdateTargetId = "btndiv",
                    HttpMethod = "Post"
                };
            }
            <div id="btndiv">
                <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
            </div>
            @Ajax.ActionLink("submit", "tevexc", new { id = 0 }, aop)







        </div>
    </div>
</div>

