
@{
    ViewBag.Title = "AdminLog";
    Layout = "~/Views/Log/_AdminLogLayout.cshtml";
}

@Styles.Render("~/Content/signin.css")

<style >
    input,
    select,
    textarea {
        max-width:275px;
    }
</style>
<h2>AdminLog</h2>

<div class="container">
    @using (Html.BeginForm("ALC", "Log", FormMethod.Post, new { @class = "form-signin" }))
    {
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        @Html.TextBox("inputEmail", "", new { type = "email", @class = "form-control", placeholder = "Email address", required = true, autofocus = true })

        <label for="inputPassword" class="sr-only">Password</label>
        @Html.TextBox("inputPassword", null, new { type = "password", @class = "form-control", placeholder = "Password", required = true })

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button><hr />
    }
</div> <!-- /container -->
