
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ALC</title>
</head>
<body>
    <div> 
        inputEmail @Request["inputEmail"]<hr/>
        inputPassword @Request["inputPassword"]<hr/>
        cb @Request["cb"]
    </div>
</body>
</html>
