@model IEnumerable<StdBlog.Models.m_Blog>

@{
    ViewBag.Title = "ShowList";
    Layout = "~/Views/m_User/_UserLayout.cshtml";
}



@foreach (var item in Model)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-2">
                    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    @Html.DisplayFor(title => item.title)
                </div>
                <div class="col-lg-1 col-lg-offset-9" style="display:inline-flex;">
                    @using (Html.BeginForm("Modify", "m_Blog", new { id = item.ID }, FormMethod.Get, new { style = "margin-right:5px;" }))
                    {
                        <button type="submit" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </button>
                    }
                    
                    @using (Html.BeginForm("DeleteBlog", "m_Blog", new { id = item.ID }, FormMethod.Get))
                    {
                        <button type="submit" class="btn btn-danger btn-xs">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    }

                </div>

            </div>
        </div>
        <table class="table">
            <tr>
                <th>
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    @Html.DisplayFor(modelItem => item.visit_count)
                </th>
                <th>
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    @Html.DisplayFor(modelItem => item.last_modify_time)
                </th>
            </tr>
            <tr>
                <td colspan="5">
                    <div class="panel panel-info ">
                        <div class=" panel-heading">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                            Content
                        </div>
                        <div class="panel-body">
                            @{Html.RenderAction("Show", "m_Blog", new { id = item.ID });}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <hr />
    </div>
}
