@model  IEnumerable<StdBlog.Models.m_Blog>

@foreach (var t in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-2">
                    <span class="glyphicon glyphicon-tag" aria-hidden="true"/>
                    @t.title
                </div>
                <div class="col-lg-2 col-lg-push-1">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true" />
                    @t.visit_count
                </div>
            </div>
        </div>
        <div class="panel-body">
            @{Html.RenderAction("Show", "m_Blog", new { id = t.ID });}
        </div>
    </div>
}