@model  IEnumerable<StdBlog.Models.m_Blog>

@foreach (var t in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-lg-3">
                    <span class="glyphicon glyphicon-tag" aria-hidden="true" />
                    @Html.ActionLink(t.title, "ShowBlog", "m_Blog", new { id = t.ID }, new { })
                </div>
                <div class="col-lg-1">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true" />
                    @t.visit_count
                </div>
                <div class="col-lg-3">
                    <span class="glyphicon glyphicon-user" aria-hidden="true" />
                    @Html.ActionLink(StdBlog.Controllers.m_UserController.getName(t.ownerid), "UserBinfo", "m_User", new { id = t.ownerid }, new { })
                </div>
            </div>
        </div>
        <div class="panel-body">
            @{Html.RenderAction("Show", "m_Blog", new { id = t.ID });}
        </div>
    </div>
                }