
@{
    ViewBag.Title = "Pg_dnc";
    Layout = "~/Views/m_User/_UserLayout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <iframe class="embed-responsive-item" src="https://dotnet.github.io/"
                frameborder="0" style="width:100%;height:500px"></iframe>
    </div>
</div>






