
@{
    ViewBag.Title = "Pg_dnc";
    Layout = "~/Views/m_User/_UserLayout.cshtml";
}

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://dotnet.github.io/"></iframe>
</div>

