
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Return</title>
</head>
<body onload="func()">
    <script type="text/javascript">
        function func()
        {
            window.history.back(); location.reload();
        }
    </script>
    <div> 
    </div>
</body>
</html>
